@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

main {
    justify-content: center;
    align-items: center;
}
.header {
  padding: 60px 40px;
}

.entrada {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.textos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 40px;
  color: #111;
}

.textos h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

.cale {
  margin: 5px 0 0;
  font-size: 20px;
  color: #555;
}

.entrada img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.mensaje {
    background-color: #d3feff48;
    height: 300px;
    text-align: center;
    padding: 110px;
}
.mensaje h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.mensaje p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.principal {
    padding: 5.5rem;
    height: 580vh;
}

.secundario {
    height: 330px;
    justify-content: space-between;
    display: flex;
    margin: 20px 0 20px;
}

.tercero img {
    height: 270px;
    width: 370px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.datos {
    height: 50px;
    font-size: 1.1rem;
    font-weight: lighter;
    display: flex;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: -2px;
}

.datos p {
    margin: 15px 0 0 24px;
}

.digito {
    background-color: #c7c0c06e;
    margin-left: 160px;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.digito p {
    text-align: center;
    margin: 5px;
    font-size: smaller;
}

.botones {
    display: flex;
    padding: 10px 0px;
    margin-top: 10px;
    gap: 20px;
    justify-content: center;
}

.botones button {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin-top: 50px;
    cursor: pointer;
    background-color: #c7c0c06e;
    border-radius: 25px;
    transition: all 0.4s ease;
}

.botones button:hover {
    background-color: #ccc;
}

.botones button:active {
    background-color: #111;
}

footer {
    background-color: #111;
    color: white;
    height: 200px;
    text-align: center;
    margin-top: 100px;
}


footer p {
    padding-top: 80px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

footer p span {
    font-size: 2rem;
    color: #99ed90;
}

footer li {
    list-style-type: none;
}